@model BankingSite.Models.InterestRates

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BANKIA</h1>
    <p class="lead" id="mainMessage">@ViewBag.Message</p>
    <p>Current loan rate: <span id="loanRate">@Model.LoanRate</span> %</p>
    <p><a href="@Url.Action("Apply", "LoanApplication")" class="btn btn-primary btn-lg">Apply Now ! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technical Services Demo</h2>
        <p>
            ITest driven Storyboarding the Interface.
            The components used in each feature.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Continuous Improvement</h2>
        <p>Deliver your customers continuous improvements.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Where Angles dare</h2>
        <p>Et volutpat aliquip consetetur magna ut consectetuer .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>